html,
body {
  height: 100%;
}
body {
  display: grid;
  background-image: url(../images/bg.jpg);
  background-color: white;
}
* {
  box-sizing: border-box;
}
div {
  background-color: #FFFFFF;
}
.form {
  background-color: #FFFFFF;
  height: 1000px;
  width: 392px;
  margin: auto;
}
.inpt {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 337px;
}
.inpt .label {
  position: absolute;
  top: -1px;
  left: 135px;
  font-size: 15px;
  color: #9098A9;
  font-weight: 600;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inpt .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07F;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inpt input {
  width: 100%;
  border: 0 #FFFFFF;
  font-family: inherit;
  padding: 20px;
  height: auto;
  font-size: 15px;
  font-weight: 500;
  border: thin groove #2D6DEF;
  background: none;
  border-radius: 14px;
  color: #223254;
  transition: all 0.15s ease;
}
.inpt input:hover {
  background: rgba(34, 50, 84, 0.03);
}
.inpt input:not(:placeholder-shown) + span {
  color: #5A667F;
  transform: translateY(-26px) scale(0.75);
}
.inpt input:focus {
  background: none;
  outline: none;
}
.inpt input:focus + span {
  color: #07F;
  transform: translateY(-26px) scale(0.75);
}
.inpt input:focus + span + .border {
  transform: scaleX(1);
}
